.dashboard {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dashboard__welcome-message {
  margin: 20px auto;
  font-family: "Playfair", sans-serif;
}

.dashboard__sign-out-btn {
  width: 20%;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

.dashboard__quote-container {
  margin: 20px auto;
  width: 75%;
  border-style: double;
  border-width: 8px;
  border-color: blue;
  border-radius: 8px;
  padding: 10px;
}

.dashboard__quote {
  text-align: center;
  font-style: italic;
  font-size: 20px;
}

.dashboard__quote-author {
  font-size: 20px;
  text-align: right;
  margin-right: 20px;
  font-family: "Nunito", sans-serif;
}

.dashboard__component-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
}

@media screen and (max-width: 627px) {
  .dashboard__component-container {
    flex-direction: column;
    justify-content: center;
  }

  .dashboard__sign-out-btn {
    width: 40%;
  }
}
