.journal {
  width: 40%;
}

.journal__title {
  text-align: center;
  font-family: "Playfair", sans-serif;
}

.journal__form {
  border: 2px solid black;
  border-radius: 8px;
  height: 40vh;
  padding: 10px;
}

.journal__date {
  font-family: "Nunito", sans-serif;
}

.journal__form-input {
  color: black;
  width: 100%;
  height: 40%;
  background-color: white;
  margin: 0 auto;
  font-family: "Playfair", sans-serif;
}

.journal__btn-container {
  display: flex;
  justify-content: space-between;
}

.journal__open-journal-btn {
  width: 45%;
  background-color: gold;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
}

.journal__submit-entry-btn {
  width: 45%;
  background-color: blue;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
}

@media screen and (max-width: 627px) {
  .journal {
    width: 100%;
  }
}
